POSTGRES_PASSWORD=change-me
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change-me
HOMARR_SECRET_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
LINKWARDEN_SECRET=change-me-linkwarden
LINKWARDEN_URL=http://192.168.122.50:3001
